<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhh.server.mapper.ThsMemoirMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ThsMemoirResultMap" type="com.hhh.server.pojo.ThsMemoirRes">
        <id column="id" property="id"/>
        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>
        <result column="research_organization" property="researchOrganization"/>
        <result column="researchers" property="researchers"/>
        <result column="report_type" property="reportType"/>
        <result column="report_name" property="reportName"/>
        <result column="report_pages" property="reportPages"/>
        <result column="investment_rate_new" property="investmentRateNew"/>
        <result column="investment_rate_pre" property="investmentRatePre"/>
        <result column="investment_rate_adjust_direction" property="investmentRateAdjustDirection"/>
        <result column="investment_rate_target_price" property="investmentRateTargetPrice"/>
        <result column="investment_rate_research_digest" property="investmentRateResearchDigest"/>
        <result column="investment_rate_date_new" property="investmentRateDateNew"/>
        <result column="eps1" property="eps1"/>
        <result column="eps2" property="eps2"/>
        <result column="eps3" property="eps3"/>
        <result column="eps4" property="eps4"/>
        <result column="eps_predict_date" property="epsPredictDate"/>
        <result column="esp_increase_rate1" property="espIncreaseRate1"/>
        <result column="esp_increase_rate2" property="espIncreaseRate2"/>
        <result column="esp_increase_rate3" property="espIncreaseRate3"/>
        <result column="per_share_net_profit_increase_rate1" property="perShareNetProfitIncreaseRate1"/>
        <result column="per_share_net_profit_increase_rate2" property="perShareNetProfitIncreaseRate2"/>
        <result column="per_share_net_profit_increase_rate3" property="perShareNetProfitIncreaseRate3"/>
        <result column="PE1" property="PE1"/>
        <result column="PE2" property="PE2"/>
        <result column="PE3" property="PE3"/>
        <result column="PE4" property="PE4"/>
        <result column="PEG1" property="PEG1"/>
        <result column="PEG2" property="PEG2"/>
        <result column="PEG3" property="PEG3"/>
        <result column="net_profit1" property="netProfit1"/>
        <result column="net_profit2" property="netProfit2"/>
        <result column="net_profit3" property="netProfit3"/>
        <result column="net_profit4" property="netProfit4"/>
        <result column="revenue1" property="revenue1"/>
        <result column="revenue2" property="revenue2"/>
        <result column="revenue3" property="revenue3"/>
        <result column="revenue4" property="revenue4"/>
        <result column="stock_price_data_new" property="stockPriceDataNew"/>
        <result column="date" property="date"/>
    </resultMap>

    <select id="getThsMemoirResultByDate" resultMap="ThsMemoirResultMap">
        SELECT * FROM ths_memoir WHERE investment_rate_date_new = #{investmentRateDateNew}
    </select>

    <select id="getThsMemoirResultByWeek" resultMap="ThsMemoirResultMap">
        SELECT * FROM ths_memoir WHERE STR_TO_DATE(investment_rate_date_new, '%Y/%m/%d') > DATE_SUB(NOW(), INTERVAL 7 DAY)
    </select>

    <select id="getThsMemoirResultByMonth" resultMap="ThsMemoirResultMap">
        SELECT * FROM ths_memoir WHERE investment_rate_date_new > DATE_SUB(NOW(), INTERVAL 1 MONTH)
    </select>

    <insert id="insertMemoir" parameterType="com.hhh.server.pojo.ThsMemoirRes" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ths_memoir (stock_code, stock_name, research_organization, researchers, report_type, report_name, report_pages,
               investment_rate_new, investment_rate_pre, investment_rate_adjust_direction, investment_rate_target_price, investment_rate_research_digest,
               investment_rate_date_new, eps1, eps2, eps3, eps4, eps_predict_date, esp_increase_rate1, esp_increase_rate2, esp_increase_rate3,
               per_share_net_profit_increase_rate1, per_share_net_profit_increase_rate2, per_share_net_profit_increase_rate3, PE1, PE2, PE3, PE4,
               PEG1, PEG2, PEG3, net_profit1, net_profit2, net_profit3, net_profit4, revenue1, revenue2, revenue3, revenue4,stock_price_data_new, date)
        VALUES (#{stockCode}, #{stockName}, #{researchOrganization}, #{researchers}, #{reportType}, #{reportName}, #{reportPages}, #{investmentRateNew},
                #{investmentRatePre}, #{investmentRateAdjustDirection}, #{investmentRateTargetPrice}, #{investmentRateResearchDigest}, #{investmentRateDateNew},
                #{eps1}, #{eps2}, #{eps3}, #{eps4}, #{epsPredictDate}, #{espIncreaseRate1}, #{espIncreaseRate2}, #{espIncreaseRate3}, #{perShareNetProfitIncreaseRate1},
                #{perShareNetProfitIncreaseRate2}, #{perShareNetProfitIncreaseRate3}, #{PE1}, #{PE2}, #{PE3}, #{PE4}, #{PEG1}, #{PEG2}, #{PEG3}, #{netProfit1}, #{netProfit2},
                #{netProfit3}, #{netProfit4}, #{revenue1}, #{revenue2}, #{revenue3}, #{revenue4}, #{stockPriceDataNew}, #{date})
    </insert>

</mapper>
